@model IEnumerable<CateringManagement.Models.Function>

@{
    CateringManagement.Models.Customer customer = (CateringManagement.Models.Customer)ViewBag.Customer;
    <partial name="CustomerDetail" model="customer" />
    ViewData["Title"] = ViewData["ControllerFriendlyName"];
}

<h1>Index</h1>

<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <input type="hidden" name="CustomerID" value="@customer.ID" />
    <div class="form-horizontal">
        <button class="btn @(ViewData["Filtering"])" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            Filter/Search @ViewData["numberFilters"]
        </button><br />
        <div class="collapse @ViewData["ShowFilter"]" id="collapseFilter">
            <div class="collapse card card-body bg-light" style="padding-top: 10px; padding-bottom: 5px;" id="collapseFilter">
                <div class="row">
                    <div class="form-group col-md-4 ml-md-3">
                        <label class="control-label">Reason:</label>
                        @Html.DropDownList("FunctionTypeID", null, "All Function", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Search Notes:</label>
                        @Html.TextBox("SearchString", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4 align-self-end">
                        <input type="submit" name="actionButton" value="Apply" class="btn btn-primary" />
                        <a asp-action="Index" asp-route-CustomerID="@customer.ID">Clear</a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <table class="table">
                <tr>
                    <th>
                        <input type="submit" name="actionButton" value="FunctionType" class="btn btn-link" />
                    </th>
                    <th>
                        <input type="submit" name="actionButton" value="Name/Lobby Sign" class="btn btn-link" />
                    </th>
                    <th>
                        <input type="submit" name="actionButton" value=" Date Range" class="btn btn-link" />
                    </th>
                    <th>
                        <input type="submit" value="Notes" class="btn btn-toolbar" />
                    </th>
                    <th>
                        <a asp-controller="CustomerFunctions" asp-action="Add"
                           asp-route-CustomerID="@customer.ID" asp-route-CustomerName="@customer.FullName">
                            <span class="btn btn-success" data-bs-toggle="tooltip"
                                  title="Add Function"><strong>&#x271A; Add</strong></span>
                        </a>
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FunctionType.Name)
                            </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LobbySign)
                        </td>
                            <td>
                            @Html.DisplayFor(modelItem => item.StartDateSummary) -
                            @Html.DisplayFor(modelItem => item.TimeSummary)
                            (@Html.DisplayFor(modelItem => item.DurationSummary))
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Summary)
                        </td>
                      
                        <td>
                            @Html.DisplayFor(modelItem => item.Customer.FullName)
                        </td>
                        <td>
                            <a asp-controller="CustomerFunctions" asp-action="Update" asp-route-id="@item.ID"
                               class="btn btn-sm btn-outline-primary" role="button"
                               data-bs-toggle="tooltip" title="Edit @ViewData["ControllerFriendlyName"]">
                                &#x270D;
                            </a>
                            <a asp-controller="CustomerFunctions" asp-action="Remove" asp-route-id="@item.ID"
                               class="btn btn-sm btn-outline-danger" role="button"
                               data-bs-toggle="tooltip" title="Delete @ViewData["ControllerFriendlyName"]">
                                &#x274C;
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <partial name="_PagingNavBar" />
    <div>
        <a asp-action="Edit" asp-controller="Customer" asp-route-id="@customer.ID">Edit @customer.FullName</a> |
        <a href='@ViewData["returnURL"]'>Back to Customer List</a>
    </div>
</form>
@section Scripts {
    <script type="text/javascript">
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
}