@model CateringManagement.Models.Function

@{
    ViewData["Title"] = "Update Function";
}

<h2>Update Function for Customer:  @Model.Customer.FullName</h2>

<hr />
<form asp-action="Update">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
    <input type="hidden" asp-for="RowVersion" />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LobbySign" class="control-label"></label>
                <input asp-for="LobbySign" class="form-control" />
                <span asp-validation-for="LobbySign" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerID" class="control-label"></label>
                <select asp-for="CustomerID" class="form-control" asp-items="ViewBag.CustomerID"></select>
                <span asp-validation-for="CustomerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SetupNotes" class="control-label"></label>
                <textarea asp-for="SetupNotes" rows="5" class="form-control"></textarea>
                <span asp-validation-for="SetupNotes" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="BaseCharge" class="control-label"></label>
                <input asp-for="BaseCharge" class="form-control" />
                <span asp-validation-for="BaseCharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerPersonCharge" class="control-label"></label>
                <input asp-for="PerPersonCharge" class="form-control" />
                <span asp-validation-for="PerPersonCharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuaranteedNumber" class="control-label"></label>
                <input asp-for="GuaranteedNumber" class="form-control" />
                <span asp-validation-for="GuaranteedNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SOCAN" class="control-label"></label>
                <input asp-for="SOCAN" class="form-control" />
                <span asp-validation-for="SOCAN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deposit" class="control-label"></label>
                <input asp-for="Deposit" class="form-control" />
                <span asp-validation-for="Deposit" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Alcohol" /> @Html.DisplayNameFor(model => model.Alcohol)
                    <span asp-validation-for="Alcohol" class="text-danger"></span>
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DepositPaid" /> @Html.DisplayNameFor(model => model.DepositPaid)
                    <span asp-validation-for="DepositPaid" class="text-danger"></span>
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NoHST" /> @Html.DisplayNameFor(model => model.NoHST)
                    <span asp-validation-for="NoHST" class="text-danger"></span>
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NoGratuity" /> @Html.DisplayNameFor(model => model.NoGratuity)
                    <span asp-validation-for="NoGratuity" class="text-danger"></span>
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label"> Current Documents:</label>
                <div class="ml-md-3">
                    @{
                        int fileCount = Model.FunctionDocuments.Count;
                        if (fileCount > 0)
                        {
                            var firstFile = Model.FunctionDocuments.FirstOrDefault(); ;
                            if (fileCount > 1)
                            {
                                <a class="" role="button" data-bs-toggle="collapse" href=#collapseDocs@(Model.ID) aria-expanded="false" aria-controls=collapseDocs@(Model.ID)>
                                    <span class="badge bg-info">@fileCount</span> Documents...
                                </a>
                                <div class="collapse" id=collapseDocs@(Model.ID)>
                                    @{
                                        foreach (var d in Model.FunctionDocuments)
                                        {
                                            <a asp-controller="FunctionDocument" asp-action="Download" asp-route-id="@d.ID">@d.FileName</a> <br />
                                        }
                                    }
                                </div>
                            }
                            else
                            {
                                <a asp-controller="FunctionDocument" asp-action="Download" asp-route-id="@firstFile.ID">@firstFile.FileName</a>
                            }
                        }
                    }
                </div>
            </div>
            <div class="form-group">
                <label class="control-label custom-file-label">Upload Additional Documents:</label>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="theFiles" multiple="multiple">
                </div>
            </div>
            <div class="form-group">
                <label asp-for="FunctionTypeID" class="control-label"></label>
                <select asp-for="FunctionTypeID" class="form-control" asp-items="ViewBag.FunctionTypeID"></select>
                <span asp-validation-for="FunctionTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MealTypeID" class="control-label"></label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" id="nowAddMealType" data-bs-toggle="modal" data-bs-target="#addMealTypeModal" type="button">&#x2795;</button>
                    </div>
                    <select asp-for="MealTypeID" class="form-control" asp-items="ViewBag.MealTypeID">
                        <option value="">None</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="submit" id="btnSubmit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</form>

<div>
    <partial name="_BackToList" />
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
